version: 2

jobs:
  test:
    docker:
      - image: circleci/node:8
    steps:
      - checkout
      - run: npm install
      - run: npm run continuous-test

workflows:
  version: 2
  continuous:
    triggers:
      - schedule:
        cron: "*/5 * * * *"
        filters:
          branches:
            only:
              - master
    jobs:
      - test